<article class="container-fluid">
    <div class="row justify-content-center">
        <section class="col-lg-6 col-12" id="teacher">
            <div class="alert alert-info text-center" role="alert">
                <strong>Teacher Section</strong>
            </div>
            <hr>
            <div class="flow">
                <ul *ngFor="let note of notes">
                    <li>
                        <div class="alert alert-danger" role="alert" *ngIf="note.question">
                            <strong>Question: </strong> {{note.question}}
                        </div>
                        <div class="alert alert-success" role="alert">
                            {{note.answer}}
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="container">
        <form (submit)="addNewQuestion( ques.value )">
            <div class="form-group">
                <label for="question">Question: </label>
                <input type="text" class="form-control" placeholder="Question" value="{{question}}" #ques>
            </div>
            <button type="submit" class="btn btn-primary text-center">Submit</button>
        </form>
    </div>
</article>